body {
    
/*    font-family: 'News Cycle', sans-serif;*/
    
}



.header-logo {
    
    font-family: 'News Cycle', sans-serif;
    color: #3f3f3f;
    font-weight: 700;
    letter-spacing: 4px;
}

header .header-logo {
    
    padding: 20px 0px 10px;
    font-size: 45px;
    
}

header .header-logo a {
    
    text-decoration: none;
    color: inherit;
    
}

#nav {
    
    z-index: 15;
    overflow: hidden;
    background-color: white;
    
}

nav .header-logo {
    
    padding: 5px 15px;
    font-size: 24px;
    display: inline-block;
    
}

nav .header-logo p {
    
    text-decoration: none;
    color: #3f3f3f;
    padding: 0;
    margin: 0;
    
}
nav .navbar-nav li{
    
    padding: 3px 20px;
    
    position: relative;
    float: none;
    display: inline-block;
    
    
    font-family: 'News Cycle', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #b9b9b9;
    text-transform: lowercase;
    
}

nav .navbar-nav li a {
    
    text-decoration: none;
    color: inherit;
    
}

nav .navbar-nav li.active {
    
/*    color: #1da6f4;*/
    color: #3f3f3f;
    
}

nav .navbar-nav li a:hover {
    
/*    color: #1da6f4;*/
    color: #3f3f3f;
    transition: all 350ms linear;
    
}

footer {
    
    width: 100%;
    border-top: 2px solid #f7f7f7;
}

footer p {
    
    font-family: 'News Cycle', sans-serif;
    font-size: 14px;
    
}

.center {
    position: relative;
    left: 50%;
    transform: translate(-50%,0%);
}

.sticky-header {
    
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #f7f7f7;
    
}

.delete-border {
    
    border: none;
    
}

.copyright {
    
    font-family: 'Open Sans', sans-serif;
    color: #626262;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 15px 0 0 0;
    
}












.sicon {
    
    position: fixed;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 14;
    
}

.icon-circle .fa{
    font-size           : 25px;
    color               : #e84700;
    margin              : 10px auto;
    height              : 80px;
    width               : 80px;
    border-radius       : 50%;
    border              : 2px solid #e84700;
    line-height         : 80px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{
    
    background-color        : #e84700;    
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 40px;
}

@media (min-width:320px) and (max-width:768px) {


 .icon-circle .fa{
    font-size           : 15px;
    color               : #e84700;
    margin              : 5px auto;
    height              : 40px;
    width               : 40px;
    border-radius       : 50%;
    border              :2px solid #e84700;
    line-height         : 40px;
    cursor              : pointer;
    -webkit-transition  : all  ease-in-out 0.35s;
    -moz-transition     : all  ease-in-out 0.35s;
    -o-transition       : all  ease-in-out 0.35s;
    -ms-transition      : all  ease-in-out 0.35s;
    transition          : all  ease-in-out 0.20s,background-color ease-in-out 0.05s;
}

.icon-circle  .fa:hover{
    
    background-color        : #e84700;    
    color                   : #fff;
    border                  : 1px solid #e84711;
    -moz-box-shadow         : inset 0px 0px 0px 5px #ffffff;
    -o-box-shadow           : inset 0px 0px 0px 5px #ffffff;
    -ms-box-shadow          : inset 0px 0px 0px 5px #ffffff;
    -webkit-box-shadow      : inset 0px 0px 0px 5px #ffffff;
    box-shadow              : inset 0px 0px 0px 5px #ffffff;
    -ms-transform           : scale(1.2,1.2); 
    -webkit-transform       : scale(1.2,1.2);
    -moz-transform          : scale(1.2,1.2); 
    -o-transform            : scale(1.2,1.2); 
    transform               : scale(1.2,1.2);  
}

.icon-circle  i:before{
    margin-left         : 0px;
    font-size           : 20px;
}   
}

.ifacebook .fa{
    color               :#3B5998;
    border              :2px solid #3B5998;
}

.ifacebook .fa:hover{
    
    background-color        : #3B5998;    
    color                   : #fff;
    border                  : 1px solid #3B5998;

}

.itwittter .fa{
    color               : #33ccff;
    border              :2px solid #33ccff;
}

.itwittter .fa:hover{
    
    background-color        : #33ccff;    
    color                   : #fff;
    border                  : 1px solid #33ccff;

}

.igoogle .fa{
    color               : #BD3518;
    border              :2px solid #BD3518;
}

.igoogle .fa:hover{
    
    background-color        : #BD3518;    
    color                   : #fff;
    border                  : 1px solid #BD3518;

}

.iLinkedin .fa{
    color               : #007bb7;
    border              :2px solid #007bb7;
}

.iLinkedin .fa:hover{
    
    background-color        :#007bb7;    
    color                   : #fff;
    border                  : 1px solid #007bb7;

}
















.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

/*    height: 0;*/
/*    padding-bottom: 100%;*/
    position: relative;
/*
    width: 128px;
    height: 128px;
*/
}
.img-circle {
    border-radius: 50%;
}
.img-responsive {
    display: block;
/*    height: auto;*/
/*    max-width: 200%;*/
}